In [2]:
# 0. Understand loan data and keys
# 0. Understand all keys
# 1. Load data successfully and verify
#  - load
#  - describe
#  - snap
#  - head etc

# 2. data cleaning (remove columns and rows not required, add mean/mode)
# - plain vanilla handling, do something, either remove or fill
# - remove columns which has 30% or 40% null values
# - optional -> remove rows which have more than 5 column data missing
# - ex: if price is the criteria then throw away rows which does not have price data
# - ex: landsize has still 10% missing, so describe landsize column (huge variance since min is 0 and max is huge, mean seems completely skewed)
# - add mean values
# - summarize how many rows were deleted
# - HOW - outlier treatment and other kinds of data redundancies? HOW DO WE DO IT
# - HOW - data is converted to a suitable and convenient format to work with using the right methods
# - HOW - Manipulation of strings and dates is done correctly wherever required.

# 3. univariate analysis
# - Unordered Categorical Variables (Ex: Rank-Frequency scale, power log distribution)
# - Ordered Categorical Variables (Histograms) (Natural order)
# - Quantitative Variables (Quantile, Meadian, Mean, Mode, Variance, SD) - Boxplot is helpful

# 4. segmented univariate
# - Segment data and comparison
# - can use pivot table
# - comparison of average and other metrics
# - boxplot (verify median, min, max, quartile)

# 5. bivariate analysis
# - on continuos variables - correlation analysis together
# - on categorical variables

# 6. derived metrics 
#   - derive data such as columns/one variable
#   - variables
#    - type driven
#    - business driven
#    - data driven
#   - type driven - categorical, ordinal, interval, ratio (example: DATE, TIME, LOCATION)
#   - business driven - Banking (ex: no of txns per month, min balance)
#   - data driven metrics - 

# 7. Plots and graphs
# - need to revisit Python for Data Science
# - need to revisit Data Visualisation in Python


# In python file
# - use comments and markdown and code readability

In [12]:
#imports which are pre-requisite for working 
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

#loading the original data in pandas as dataframe
file_path = "loan.csv"
loan_original_df = rating = pd.read_csv(file_path)

#fetching top 5 elements to verify if data loaded successfully
loan_original_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN